.side-menu {
  box-shadow: 7px 0px 32px -6px rgba(159, 157, 176, 1);
  height: 100%;
  padding-top: 40px;
  padding-left: 20px;
  background: var(--main-bg);
}
.list {
  margin-top: 30px;
}
.list li {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
