<div class="main-display">
  <app-navbar (menuOpened)="toggleMenu($event)"></app-navbar>

  <div class="main-content row">
    <div class="side-menu" *ngIf="menuOpen">
      <app-side-menu
        [header]="mainHeader"
        (dataFiltered)="filter($event)"
      ></app-side-menu>
    </div>
    <div class="product-list" [ngClass]="{ 'menu-open': menuOpen }">
      <app-products-list
        [header]="mainHeader"
        [products]="filteredProducts"
      ></app-products-list>
    </div>
  </div>
</div>
