<div class="main-display">
  <app-navbar (menuOpened)="toggleMenu($event)"></app-navbar>

  <div class="main-content row">
    <div class="side-menu" *ngIf="menuOpen">
      <app-side-menu
        [header]="mainHeader"
        [status]="status"
        (dataFiltered)="filter($event)"
      ></app-side-menu>
    </div>
    <div class="product-list" [ngClass]="{ 'menu-open': menuOpen }">
      <div class="scrollbar">
        <app-products-list
          [header]="mainHeader"
          [products]="filteredProducts"
          (syncProductsList)="onListSynced()"
          (syncProduct)="onProductSynced($event)"
        ></app-products-list>
      </div>
    </div>
  </div>
</div>
