<div class="container">
  <div class="row align-start justify-space-between">
    <h2 class="header">{{ header }}</h2>
    <span class="btn primary-btn" (click)="onSyncProductsList()">Sync</span>
  </div>
  <div class="row justify-center align-items products-list-wrapper">
    <div *ngFor="let product of products" class="product-card">
      <div class="img-btn-wrapper">
        <span class="btn secondary-btn" (click)="onSyncProduct()">Sync</span>
        <img
          [src]="
            product.imageUrl
              ? product.imageUrl
              : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png'
          "
          alt=""
        />
      </div>
      <div class="card-info">
        <p class="card-name">{{ product.name }}</p>
        <p class="card-price">
          {{ product.price ? (product.price | currency) : "No data avaliable" }}
        </p>
      </div>
    </div>
  </div>
</div>
