<div class="container">
  <a class="btn primary-btn" routerLink="/products">Home Page</a>
  <div class="product-page-wrapper">
    <div class="img-wrapper">
      <img
        [src]="
          product?.imageUrl
            ? product?.imageUrl
            : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png'
        "
        alt=""
      />
    </div>
    <div class="product-info">
      <h2 class="card-name">{{ product?.name }}</h2>
      <p class="card-price">
        {{ product?.price ? (product?.price | currency) : "No data avaliable" }}
      </p>
    </div>
  </div>
</div>
